.App {
    text-align: center;
    background: #121212;
    color: white;
    overflow: hidden;
}

.topHalf{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.bottomHalf{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.historyView {
    min-width: 75%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
}

.scrollView {
    background: #2e2e2e;
}

.currentSimulationView {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
}

.choose_improvement {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    flex-grow: 1;
    padding-top: 10px;
}

.question {
    text-align: left;
    align: center;
    padding-left: 10px;
}

#active { 
    background: #2e2e2e;
}

#deactive { 
    background: #1e1e1e;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.simulateSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.mainSection{
    min-width: 75%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
}

.verticalSection{
    min-width: 20%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
}

.simulateChoices {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    height: 25px;
    background: #1e1e1e;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.topHeader {
    height: 25px;
    background: #1e1e1e;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.clear{
    margin-left: auto;
    color: red;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selectSimulation {
    background: #2e2e2e;
    max-height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.finalQuestion {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    margin-top: 8px;
    gap: 30px;
    overflow-x: scroll;
}

::-webkit-scrollbar { 
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}
 
::-webkit-scrollbar-thumb {
    background-color: #545454;
}


.card_item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_image{
    height: 120px;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
}

.mainVideo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mainVideo img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}

.mainVideo iframe {
    width: 100%;
    height: 200%;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    pointer-events: none;
}

.zoomVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.zoomVideo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.first {
    background: #C9E174;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.first:hover { 
    filter: brightness(120%);
}

#disable{
    opacity: 0.2;
}

.modal{
    height: 10vh;
    width: 50vh;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    outline: none;
    background: white;
}

button { 
    background: #7d7d7d;
    color: white;
    width: 100px;

    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    align-self: flex-end;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
}

button:hover { 
    filter: brightness(120%);
}

.second{
    background: #65A1E2;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.second:hover { 
    filter: brightness(120%);
}

.third{
    background: #71B8C2;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.third:hover { 
    filter: brightness(120%);
}

.select{
    background: #7d7d7d;
    color: white;
    width: 100px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    align-self: flex-end;
    margin: 5px;
}

.select:hover { 
    filter: brightness(120%);
}

.quit{
    background: #545454;
    color: white;
    width: 100px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    align-self: flex-end;
    margin: 5px;
}

.quit:hover { 
    filter: brightness(120%);
}


.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label{
    width: 150px;
    padding-top: 10px;
    text-align: left;
}

.solid{
    background-color: black;
    border: none;
    height: 3px;
    margin-bottom: 10px;
    width: 98%;
}

#position{
    background-color: #B473E0;
}

#safety{
    background-color: #C9E174;
}

#orientation{
    background-color: #65A1E2;
}

#detection{
    background-color: #71B8C2;
}

#selected{
    opacity: 0.75;
}

.item_starred{
    position: absolute;
    z-index: 100;
}

.relative{
    position: relative;
}

#current{
    border-style: solid;
    border-width: 2px;
}

#not_current{
    border: none;
}

.text_descr{
    font-size: 12px;
}