.App {
    text-align: center;
    background: #121212;
    color: white;
}

.topHalf{
    width: 100%;
    height:75%;
    display: flex;
    flex-direction: row;
}

.bottomHalf{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.scrollView {
    width: 70%;
    height: 100%;
    background: #2e2e2e;
}

.currentSimulationView {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.simulateChoices {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    flex-grow: 1;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:10px;
    justify-content: space-around;
}

.choose_improvement {
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    flex-grow: 1;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:10px;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.simulateSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mainSection{
    width: 70%;
    height: 100%;
}

.verticalSection{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 25px;
    background: #1e1e1e;
    color: white;
    text-align: start;
    padding-left: 10px;
    margin-left: 10px;
    margin-right:10px;
}

.topHeader {
    height: 25px;
    background: #1e1e1e;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.clear{
    margin-left: auto;
    color: red;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selectSimulation {
    background: #2e2e2e;
    flex-grow: 1;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    margin-top: 8px;
    gap: 30px;
    overflow-x: scroll;
}

.card_item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_image{
    height: 120px;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
}

.mainVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.mainVideo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:10px;
}
.mainVideo iframe {
    flex-shrink: 0;
    min-height: 80%;
    width: 90%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

.zoomVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
.zoomVideo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.first{
    background: #B473E0;
    width: 30px;
    height: 30px;
    padding: 5px;
}

#disable{
    opacity: 0.2;
}

.modal{
    height: 50vh;
    width: 100vh;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    outline: none;
    background: white;
}

.second{
    background: #65A1E2;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.third{
    background: #71B8C2;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.select{
    background: #6d6d6d;
    color: white;
    width: fit-content;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
}

.quit{
    background: red;
    color: white;
    width: fit-content;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
}

.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label{
    width: 150px;
    text-align: start;
}

.solid{
    border-width: 3px;
    border-color: black;
    width: 98%;
}

#position{
    border-color: #B473E0;
}

#orientation{
    border-color: #65A1E2;
}

#detection{
    border-color: #71B8C2;
}

#selected{
    opacity: 0.4;
}

.item_starred{
    position: absolute;
    z-index: 100;
}

.relative{
    position: relative;
}

#current{
    border-style: solid;
    border-width: 2px;
}

#not_current{
    border: none;
}

.text_descr{
    font-size: 12px;
}